body {
    font-family: sans-serif;
}

button {
    padding: 10px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

.container {
    perspective: 1500px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.cube {
    position: relative;
    transform-style: preserve-3d;
    width: 300px;
    height: 300px;
    transition: all .75s ease-out;
    margin: 0 100px;
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: black;
    border: 1px solid gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    /*   opacity: .6; */
}

.button-container, .result-container {
    display: flex;
    justify-content: center;
}

.one-face-low {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.one-face-high {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
}

.two-face-low {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

.two-face-high {
    transform: rotateX(450deg) rotateY(360deg) rotateZ(0deg);
}

.three-face-low {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

.three-face-high {
    transform: rotateX(360deg) rotateY(450deg) rotateZ(0deg);
}

.four-face-low {
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
}

.four-face-high {
    transform: rotateX(360deg) rotateY(-450deg) rotateZ(0deg);
}

.five-face-low {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

.five-face-high {
    transform: rotateX(-450deg) rotateY(360deg) rotateZ(0deg);
}

.six-face-low {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}

.six-face-high {
    transform: rotateX(360deg) rotateY(540deg) rotateZ(0deg);
}

/* .container:hover .cube {
    transform: rotateX(360deg) rotateY(180deg) rotateZ(0deg);
} */

.front {
    transform: rotateY(0deg) translateZ(150px);
}

.back {
    transform: rotateY(180deg) translateZ(150px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(150px);
}

.left {
    transform: rotateY(-90deg) translateZ(150px);
}

.right {
    transform: rotateY(90deg) translateZ(150px);
}

.top {
    transform: rotateX(90deg) translateZ(150px);
}

