:root {
    --dice-size: 50px;
}

body {
    font-family: sans-serif;
}

button {
    padding: 10px;
    margin: 10px;
    font-size: 32px;
}

button:hover {
    cursor: pointer;
}

.customization {
    display: flex;
    justify-content: center;
}

.customization > * {
    margin: 0 10px;
}

.container {
    perspective: 1500px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.cube {
    position: relative;
    transform-style: preserve-3d;
    width: var(--dice-size);
    height: var(--dice-size);
    transition: all .75s ease-out;
    margin: 0 calc(var(--dice-size)/2);
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--dice-size);
    height: var(--dice-size);
    background-color: black;
    border: 1px solid gray;
    color: white;
    /* background-color: #b7fddc;
    border: 1px solid #ce0167;
    color: #ce0167; */
    /* background-color: #0f1f02;
    border: 1px solid #8f74e3;
    color: #8f74e3; */
    /* background-color: #1b082c;
    border: 1px solid #e77cd9;
    color: #e77cd9; */
    /* background-color: #11003e;
    border: 1px solid #6ab7bc;
    color: #6ab7bc; */
    /* background-color: #370544;
    border: 1px solid #408dd9;
    color: #408dd9; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--dice-size)/2);
    /* opacity: .6; */
}

.black-dice {
    background-color: black;
}

.dark-red-dice {
    background-color: darkred;
}

.dark-green-dice {
    background-color: darkgreen;
}

.button-container, .result-container {
    display: flex;
    justify-content: center;
}

.one-face-low {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.one-face-high {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
}

.two-face-low {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

.two-face-high {
    transform: rotateX(450deg) rotateY(360deg) rotateZ(0deg);
}

.three-face-low {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

.three-face-high {
    transform: rotateX(360deg) rotateY(450deg) rotateZ(0deg);
}

.four-face-low {
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
}

.four-face-high {
    transform: rotateX(360deg) rotateY(-450deg) rotateZ(0deg);
}

.five-face-low {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

.five-face-high {
    transform: rotateX(-450deg) rotateY(360deg) rotateZ(0deg);
}

.six-face-low {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}

.six-face-high {
    transform: rotateX(360deg) rotateY(540deg) rotateZ(0deg);
}

/* .container:hover .cube {
    transform: rotateX(360deg) rotateY(180deg) rotateZ(0deg);
} */

.front {
    transform: rotateY(0deg) translateZ(calc(var(--dice-size)/2));
}

.back {
    transform: rotateY(180deg) translateZ(calc(var(--dice-size)/2));
}

.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--dice-size)/2));
}

.left {
    transform: rotateY(-90deg) translateZ(calc(var(--dice-size)/2));
}

.right {
    transform: rotateY(90deg) translateZ(calc(var(--dice-size)/2));
}

.top {
    transform: rotateX(90deg) translateZ(calc(var(--dice-size)/2));
}

@media only screen and (min-width: 600px) {
    body {
        --dice-size: 150px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        --dice-size: 300px;
    }
}

