:root {
    --dice-size: 50px;
    --font-size: 16px;
}

body {
    font-family: sans-serif;
}

select {
    background-color: white;
    color: black;
    padding: 2.5px;
    border: 2px solid black;
    font-size: var(--font-size);
}

.result-container {
    font-size: var(--font-size);
}

button {
    padding: 10px;
    font-size: var(--font-size);
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
}

.button-container {
    margin: 20px 0 0;

}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px gray;
}

button:active {
    cursor: pointer;
    transform: scale(1);
}

.options {
    font-size: var(--font-size);
}

.customization {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customization > * {
    margin: 2.5px 0;
    padding: 5px;
    display: flex;
}

.container {
    perspective: 1500px;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.cube {
    position: relative;
    transform-style: preserve-3d;
    width: var(--dice-size);
    height: var(--dice-size);
    transition: all .75s ease-out;
    margin: 0 calc(var(--dice-size)/2) 40px;
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--dice-size);
    height: var(--dice-size);
    background-color: black;
    border: 1px solid gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--dice-size)/2);
}

.black-dice {
    background-color: black;
}

.dark-red-dice {
    background-color: darkred;
}

.dark-green-dice {
    background-color: darkgreen;
}

.button-container, .result-container {
    display: flex;
    justify-content: center;
}

.face-1-low {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.face-1-high {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
}

.face-2-low {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

.face-2-high {
    transform: rotateX(450deg) rotateY(360deg) rotateZ(0deg);
}

.face-3-low {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

.face-3-high {
    transform: rotateX(360deg) rotateY(450deg) rotateZ(0deg);
}

.face-4-low {
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
}

.face-4-high {
    transform: rotateX(360deg) rotateY(-450deg) rotateZ(0deg);
}

.face-5-low {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

.face-5-high {
    transform: rotateX(-450deg) rotateY(360deg) rotateZ(0deg);
}

.face-6-low {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}

.face-6-high {
    transform: rotateX(360deg) rotateY(540deg) rotateZ(0deg);
}

.front {
    transform: rotateY(0deg) translateZ(calc(var(--dice-size)/2));
}

.back {
    transform: rotateY(180deg) translateZ(calc(var(--dice-size)/2));
}

.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--dice-size)/2));
}

.left {
    transform: rotateY(-90deg) translateZ(calc(var(--dice-size)/2));
}

.right {
    transform: rotateY(90deg) translateZ(calc(var(--dice-size)/2));
}

.top {
    transform: rotateX(90deg) translateZ(calc(var(--dice-size)/2));
}

@media only screen and (min-width: 700px) {
    body {
        --dice-size: 100px;
        --font-size: 20px;
    }

    .container {
        margin: 60px auto;
    }

    .customization > * {
        margin: 5px 10px;
    }

    .customization {
        flex-direction: row;
    }

    select {
        min-width: 100px;
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        --dice-size: 200px;
        --font-size: 26px;
    }

    .container {
        margin: 85px auto 70px;
    }

    .customization > * {
        margin: 10px 20px;
    }

    select {
        min-width: 200px;
    }
}

